html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  margin: 0;
  background: #CF0000;
}

#header {
  padding: 60px;
  text-align: center;
  background: #CF0000;
  color: white;
  font-size: 30px;
}

#header2 {
  padding: 60px;
  text-align: center;
  background: #CF0000;
  color: white;
  font-size: 30px;
}

#header3 {
  padding: 60px;
  text-align: center;
  background: #CF0000;
  color: white;
  font-size: 30px;
}

#header4 {
   padding: 60px;
  text-align: center;
  background: #CF0000;
  color: white;
  font-size: 30px;
} 

#header5 {
   padding: 60px;
  text-align: center;
  background: #CF0000;
  color: white;
  font-size: 30px;
}

#nav {
  overflow: hidden;
  background: white;
  position: fixed;
  width: 100%;
}

#nav a {
  float: left;
  color: #CF0000;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

#nav a:hover {
  background: #003199;
  color: white;
}

#s1 {
  text-align: left;
  font-size: 20px;
  padding: 60px; 
  color: white;
}

h5 {
  font-size: 25px;
}

marquee {
  border: 1px double white;
  padding: 20px;
}

#a1 {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#a1:hover {
  color: yellow;
}

#a1:active {
  color: #003199;
}

#s2 {
text-align: center;
}

.tr:hover {
  background-color: white;
}

#sums {
  color: white;
  padding: 60px;
  
}

#s3 {
text-align: center;
  padding: 60px;
}

.image {
  
animation-name: image;
                animation-duration: 10s;
                animation-interation-count: 5;
                position: relative;
            }
            @keyframes image {
                0%{left: 0px; top: 0px;}
                25%{left: 150px; top: 0px}
                50%{left:150px; top: 150px}
                75%{left: 0px; top: 150px;}
                100%{left: 0px; top: 0px;}
            }

#comics {
  text-align: center;
  color: white;
}

#footer {
  text-align: center;
  background-color: yellow;
  opacity: 0.7;
   padding: 25px;
}

#footer:hover {
  opacity: 1;
  background-color: whitesmoke;
}

#footer::first-line:hover {
  color: black;
 
}

#footer::first-line {
  color: #003199;
 
}

.a2  {
  color: #003199;
  opacity: 0.6;
  text-decoration: none;
  font-size: 20px;
}

.a2:hover {
  opacity: 1;
}